body
{
    background:url("image1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

header
{
    width: 100%;
    height: 100%;
    background-color: black;
    /* background-size: cover; */
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
}
nav
{
    width: 100%;
    height: 50px;
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    border: 10px;
}

.logo
{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: serif;
    /* padding-left: 25px; */
    padding-right: 50%;

}

.logo a 
{
    text-decoration: none;
    color: white;
}

.logo span
{
    font-size: 20px;
    color: red;
}

.menu a
{
    text-decoration: none;
    color: white;
    letter-spacing: 0px;
    padding: 7px; 
    padding-left: 17px;
    position: relative;
    z-index: 10000;
}

.menu a:hover
{
    color: red;

}



#btn 
{
    text-decoration: none;
    color: white;
    padding-right: 25px;
    position: relative;
    z-index: 10000;
}

#btn:hover
{
    color: red;
}

.body
{
    
     padding-left: 100px;
     padding-top: 150px;
     
}

h1
{
    color: white;
    font-size: 20px;
    font-family: cursive;
}

h4
{
    color: white;
    font-size: 15px;
   font-family: cursive;
}

 .body button
{
    font-size: 20px;
    color: black;
    font-family: cursive;
    padding-left: 30px;
    padding-right: 40px;
    background-color:#00FFFF;
    transition: 0.5s all ease;
    border: 2px solid rgb(114, 113, 113);

}

.body button:hover
{
    border-radius: 20px;
    color: none;
    font-size: 20;
}

.image {
    position: absolute;
    top: -28px;
    right: 60px;
    z-index: 9999;
    height: 200px;
    width: 200px; 
    
  }
  
  .image img {
    position: relative;
  }
  
 